body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #8e44ad, #c0392b);
    overflow: hidden;
}

#myVideo {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}


#browser {
    margin: 2em;
    /* border-top: 2em solid rgba(230, 230, 230, 0.7); */
    box-shadow: 0 0.1em 1em 0 rgba(0, 0, 0, 0.4);
    position: relative;
    border-radius: 3px 3px 0 0;
    background-color: black;
    overflow: hidden;
}

#browser:before {
    display: block;
    position: absolute;
    content: '';
    top: -1.25em;
    left: 1em;
    width: 0.5em;
    height: 0.5em;
    border-radius: 50%;
    background-color: #f44;
    box-shadow: 0 0 0 2px #f44, 1.5em 0 0 2px #9b3, 3em 0 0 2px #fb5;
}

#container {
    display: block;
    width: 1280px;
    height: 720px;
    overflow: hidden;
}

#background {
    display: block;
    width: 100%;
    height: 100%;
    background-image: url("../Images/Index/background_lightoff.jpg");
    background-size: 200%;
    transition: background-position 0.4s ease;
}

#overlay {
    position: relative;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.98);
}

#light {
    position: relative;
    top: 0;
    width: 100%;
    height: 100%;
}

#watch {
    display: none;
    z-index: 9;
    position: absolute;
    width: 35%;
    height: 35%;
    transform: rotate(-30deg);
    top: 75%;
    left: -7.5%;
    background-image: url("../Images/Index/watcharm.png");
    background-size: contain;
    background-repeat: no-repeat;
}

#torch {
    display: none;
    z-index: 9;
    position: absolute;
    width: 32%;
    height: 32%;
    transform: rotate(20deg);
    top: 77.5%;
    left: 82.5%;
    background-image: url("../Images/Index/torch.png");
    background-size: contain;
    background-repeat: no-repeat;
} 

#chrono {
    display: none;
    position: absolute;
    top: 29%;
    left: 40.5%;
    color: red;
    font-family: Monospace, serif;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
}

.object {
    position: absolute;
    padding: 0;
    border: none;
    background: transparent none;
    pointer-events: auto;
    cursor: pointer;
}

.object:focus { /* pour enlever la bordure quand on clique sur l'objet*/
  outline: none;
}

/* CSS inventaire */

.inventaire {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5%;
    z-index: 1000; /* pour que soit au-dessus du background */
  }
  
.case {
  height: 6.5rem;
  width: 6.5rem;
  margin: 0.5rem ;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
  background: rgba(255, 255, 255, 0);  /*  NE PAS REPLACE AVEC 'BACKGROUND' SHORTHAND */
  /* border: 3px dashed #111; */
  border: 2px solid #ffffff;
  border-radius: 10px;
  transition: border-width 0.2s, transform 0.2s, background-color 0.4s;
  background-size: cover; /* Ajuste la taille de l'image pour couvrir tout l'élément */
  background-repeat: no-repeat; /* Empêche la répétition de l'image de fond */
}

.case span {
  font-size: 1.25rem;
  pointer-events: none; 
}

/* Images cases inventaire */ 


/* Ombres des objets dans les cases de l'inventaire */
.case:nth-child(1) {
  background-image: url('../Images/Index/ombre_code_morse.png'); 
}

.case:nth-child(2) {
  background-image: url('../Images/Index/lampe_torche.png'); 
}

.case:nth-child(3) {
  background-image: url('../Images/Index/ombre_carte_etu.png');
}

.case:nth-child(4) {
  background-image: url('../Images/Index/watcharm_inventaire.png');
}

.complete{
  background-color: rgba(255, 255, 255,1);
  cursor: pointer;
}

/* Styles pop up badgeuse et morse */

#pop_badgeuse {
  /* il faudra mettre bottom de la taille de l'inventaire ?*/
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  /* opacity: 10%; */
}

#pop_morse{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  display: none;
}

.custom-modal-dialog {
    max-height: 40vh; /* Adjust the value as needed */
}

.custom-modal-content {
    max-height: 40vh; /* Adjust the value as needed */
    overflow-y: auto; /* Add scrollbar if content overflows */
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.footer {
  text-align: right;
    padding-top: 10px;
}

#img_badgeuse_container {
    width: 25vw;
}

#badgeuse_image {
  position:relative;
  width: 100%;
}

#morse_image {
  width: 20vw;
}

@keyframes morse-f12 {
  0%, 1.28% { background-color: rgba(25, 50, 174, 0.5); }      /* F: ..-. */
  1.28%, 2.56% { background-color: transparent; }
  2.56%, 3.84% { background-color: rgba(25, 50, 174, 0.5); }
  3.84%, 5.12% { background-color: transparent; }
  5.12%, 8.96% { background-color: rgba(25, 50, 174, 0.5); }
  8.96%, 10.24% { background-color: transparent; }
  10.24%, 11.53% { background-color: rgba(25, 50, 174, 0.5); }
  11.53%, 17.94% { background-color: transparent; }

  17.94%, 19.23% { background-color: rgba(25, 50, 174, 0.5); }  /* 1: .---- */
  19.23%, 20.51% { background-color: transparent; }
  20.51%, 24.35% { background-color: rgba(25, 50, 174, 0.5); }
  24.35%, 25.63% { background-color: transparent; }
  25.63%, 29.47% { background-color: rgba(25, 50, 174, 0.5); }
  29.47%, 30.75% { background-color: transparent; }
  30.75%, 34.59% { background-color: rgba(25, 50, 174, 0.5); }
  34.59%, 35.87% { background-color: transparent; }
  35.87%, 39.71% { background-color: rgba(25, 50, 174, 0.5); }
  39.71%, 46.12% { background-color: transparent; }

  46.12%, 47.40% { background-color: rgba(25, 50, 174, 0.5); }  /* 2: ..--- */
  47.40%, 48.68% { background-color: transparent; }
  48.68%, 49.96% { background-color: rgba(25, 50, 174, 0.5); }
  49.96%, 51.24% { background-color: transparent; }
  51.24%, 55.09% { background-color: rgba(25, 50, 174, 0.5); }
  55.09%, 56.37% { background-color: transparent; }
  56.37%, 60.22% { background-color: rgba(25, 50, 174, 0.5); }
  60.22%, 61.5% { background-color: transparent; }
  61.5%, 65.35% { background-color: rgba(25, 50, 174, 0.5); }
  65.35%, 100% { background-color: transparent; } /* 5 second pause */
}

#projmorse {
    width: 500px; 
    height: 500px; 
    background-color: transparent;
    animation: "";
    cursor: auto;

}

.disj_popup-container {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 960px;
  height: 540px;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.disj_popup-content {
  width: 100%;
  height: 100%;
  box-sizing: border-box; /* Include padding and border in the total width/height */
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  position: absolute;
  background-image: url(../Images/disjoncteur/disjoncteurbefore.png);
  background-size: cover;
}



.switch-container {
  position: absolute;
  top: 249px; /* Adjust as needed */
  left: 490px; /* Adjust as needed */
 display: flex;
  flex-direction: row;
}

.switch {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  margin-right: 16px;
}

.switch input {
  display: none;
}

.slider {
  position: relative;
  cursor: pointer;
  width: 47px; /* Adjusted width for vertical frame */
  height: 30px; /* Adjusted height for vertical frame */
  background-color: rgba(50,50,150,0);
  transition: .4s;
  border-radius: 0;
  bottom: 0;
}

.slider:before {
  content: "";
  height: 8px;
  width: 40px;
  bottom: 15px;
  left: 2px;
  background-color: rgb(0, 0, 0);
  transition: .4s;
  border-radius: 20%;
  position: absolute;
}

input:checked + .slider:before {
  transform: translateY(10px);
}
/*
input:checked + .slider {
  background-color: #2196F3;
}
*/
.led {
  width: 8px;
  height: 8px;
  background-color: #69646b;
  border-radius: 50%;
  margin-top: 70px;
  left: 33px;
  filter: blur(0px);
}

.switch-container .led {
  position: absolute;
  top: -30px; /* Adjusted to be above the switch */
}

.code {
  margin-top: 20px;
  font-weight: bold;
}

.code-found {
  color: green;
}

input:checked + .led {
  background-color: #2196F3;
}

/* class "laptop" hideen by default */
/* Additional styles for pc popup */
#pcpopupContainer {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%; /* Adjust the width as needed */
    height: 100%; /* Adjust the height as needed */
    background: transparent;
    z-index: 1000;
}

/* Additional styles for pc popup content */
#pcpopupContent {
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

/* Additional styles for close button in pc popup */
#closePcButton {
    position: absolute;
    top: 10px;
    right: 10px; /* Adjust the right position as needed */
    z-index: 2;
    cursor: pointer;
}