html {
  height: 100%;
}

#returnButton {
background: none;
border: none;
padding: 0;
cursor: pointer;
position: fixed;
  top: 10px;
  left: 10px;
}

#returnButton img {
width: 50px;
height: 40px; 
}

body {
  font-family: Arial, sans-serif;
  background: url('../../Images/disjoncteur/disjoncteurbefore.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}



.attemptcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.switch-container {
  display: flex;
  margin-bottom: 20px;
}

.switch {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  margin-right: 35px;
  
  left: 220px;
}

.switch input {
  display: none;
}

.slider {
  position: relative;
  cursor: pointer;
  width: 65px; /* Adjusted width for vertical frame */
  height: 30px; /* Adjusted height for vertical frame */
  background-color: rgba(50,50,150,0);
  transition: .4s;
  border-radius: 0%;
  bottom: 0px;
}

.slider:before {
  content: "";
  height: 12px;
  width: 60px;
  bottom: 15px;
  left: 2px;
  background-color: rgb(0, 0, 0);
  transition: .4s;
  border-radius: 20%;
  position: absolute;
}

input:checked + .slider:before {
  transform: translateY(17px);
}
/*
input:checked + .slider {
  background-color: #2196F3;
}
*/
.led {
  width: 10px;
  height: 10px;
  background-color: #69646b;
  border-radius: 50%;
  margin-top: 80px;
  left: 50px;
  filter: blur(0px);
}

.switch-container .led {
  position: absolute;
  top: -30px; /* Adjusted to be above the switch */
}

.code {
  margin-top: 20px;
  font-weight: bold;
}

.code-found {
  color: green;
}

input:checked + .led {
  background-color: #2196F3;
}