html {
    height: 100%;
  }
  
  #myVideo {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }
  
  body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background: linear-gradient(to bottom, black, red);
    overflow: hidden;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  #game-container {
    margin-top: -50px;
    text-align: center;
    display: inline;
  }
  
  #game-title {
    margin-top: -50px;
    letter-spacing: .3rem;
    margin-bottom: -20px;
    color: white;
    font-size: 3em;
  }
  
  #logo {
    width: 30%;
    height: auto;
  }
  
  .start-button {
    background-color: red;
    color: white;
    border-radius: 12px;
    padding: 10px 150px;
    font-size: 1.5em;
    border: none;
    cursor: pointer;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  particle {
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    background-repeat: no-repeat;
    background-size: contain;
  }
  
  h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  #tuto-container {
    display: none;
    color: white;
    width: 70%; /* Set the width to 70% of the page */
    height: 80%;
    border-radius: 6px; /* Center the container horizontally */
    background-color: rgba(0, 0, 0, 0.5); /* Black background with 50% opacity */
    padding: 20px; /* Add padding for better visibility */
    box-sizing: border-box; /* Include padding and border in the width */
    overflow-y: auto;
  }
  
  .texte-tuto{
    height:70%;
    font-size: 0.9em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  }

  .texte-tuto ul{
    font-size: 1.4em;
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  #tuto-container h1 {
    margin: 4%;
  }
 