body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #98BFEF;
}

.warning-message {
    background-color: #ffcc00; /* Couleur de fond jaune pour l'avertissement */
    padding: 10px; /* Espace intérieur pour le texte */
    text-align: center; /* Centrer le texte */
    color: black; /* Couleur du texte */
    font-weight: bold; /* Mettre le texte en gras */
    border-radius: 5px; /* Bordures arrondies */
    margin: 10px; /* Marge autour du message */
}


.taskbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: #1A5276;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.start-menu {
    width: 40px;
    height: 100%;
    background-color: #1A5276;
}

.task-icons {
    display: flex;
    gap: 10px;
    margin-right: 10px;
}

.task-icon {
    padding: 5px 10px;
    background-color: #21618C;
    border-radius: 5px;
    cursor: pointer;
}

.desktop-icons {
    margin: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.icon {
    background-color: #3498DB;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}

.icon:hover {
    background-color: #2980B9;
}

.console {
    width: 832px;
    height: 468px;
    bottom: 25%;
    left: 30%;
    background-color: black;
    color: white;
    padding: 10px;
    overflow: auto;
    box-sizing: border-box;
    font-family: Consolas, monospace;
    font-size: 20px;
    border-radius: 15px;
    white-space: pre-wrap;
    position: relative;
    display: none;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
    font-size: 20px;
    color: #ff6b6b;
}

.prompt {
    color: #00ff00; /* Green color for the command prompt */
    font-family: Consolas, monospace;
    font-size: 20px;
}

#commandInput {
    width: calc(100% - 20px); /* Adjust the width based on your design */
    background-color: #222;
    border: none;
    outline: none;
    font-size: 20px;
}
