@import url("https://fonts.googleapis.com/css2?family=Asap&display=swap");
html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background: linear-gradient(to bottom, white, rgb(219, 101, 111));
  overflow: hidden;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#tuto-container {
  color: rgb(100, 104, 116);
  width: 70%;
  height: 80%;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.386);
  padding: 20px;
  box-sizing: border-box;
  margin: auto; /* Center align the container horizontally */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center align vertically */
}

.texte-tuto {
  height: 70%;
  font-size: 1.5em;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center; /* Center align the text inside .texte-tuto */
}

.button-fin {
  background-color: rgb(255, 122, 122);
  color: white;
  border-radius: 12px;
  padding: 10px 200px; /* Adjust padding to make the button more centered */
  font-size: 2em;
  border: none;
  cursor: pointer;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 40px auto; /* Center align the button horizontally with margin for spacing */
}

h1 {
  font-family: "Asap", sans-serif;
  text-align: center; /* Center align the h1 text */
  margin-bottom: 30px; /* Add margin for spacing below the title */
  font-size: 4em;
}

#confetti-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 9999;
}

#confetti-canvas {
  display: block;
  width: 100%;
  height: 100%;
}