body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height:70%;
    font-size: 1.5em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  #video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
  
  #overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    color: #fff;
    z-index: 1;
    text-align: center;
  }
  
  #overlay h1 {
    margin-bottom: 7%;
  }
  
  #overlay p {
    margin-bottom: 5%;
  }
  
  #overlay button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #ff0000;
    color: #ffffff;
    border: none;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 5px;
    cursor: pointer;
  }
  